{% extends 'facility_list.html' %}
{% block main %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ facility.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body style="background-image: url(https://th.bing.com/th/id/OIP.WXGwruaGcmexmBuq2n52MAHaEK?w=309&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <div class="container  mb-5" style="margin-left: 40%;">
    <h1>{{ facility.name }}</h1>
    <p>{{ facility.description }}</p>
    <p>Location: {{ facility.location }}</p>
    <p>Pincode: {{ facility.pincode }}</p>
    <p class="">Price per hour: INR {{ facility.price_per_hour }}</p>
    <img src="{{ facility.image.url }}" alt="{{ facility.name }}">
    <h2>Bookings</h2>
    <ul>
        {% for booking in bookings %}
        <li>{{ booking.start_time }} - {{ booking.end_time }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'book_facility' facility.pk %}">Book this facility</a>
    </div>
</body>
</html>
{% endblock %}